.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #8064A2 !important;
    color: whitesmoke;

}
.container {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.marg {
  margin-bottom: 20px;
}
div { 
  color: white
}